<div class="container">
    <div class="row1">
        <div class="title">
            <h1>Institutional Education</h1>
        </div>
        <div class="content-top">
            <div class="education-item">
                <h3>Bachillerato</h3>
                <h4>Juan XXIII</h4>
                <p>Finalized in the year 2018</p>
            </div>
            <div class="education-item">
                <h3>Licenciatura en Derecho</h3>
                <h4>Universidad Mayor de San Simon</h4>
                <p>On going</p>
            </div>
            <div class="education-item">
                <h3>Ingeniería en Sistemas</h3>
                <h4>Universidad de Aquino Bolivia</h4>
                <p>On going</p>
            </div>
            <div class="education-item">
                <h3>Desarrollo de Aplicaciones Web</h3>
                <h4>Solaning</h4>
                <p>On going</p>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="title">
            <h1>Non-Institutional Education</h1>
        </div>
        <div class="content-bottom">
            <div class="rowAbove">
                <div class="education-item">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                    <h3>Platzi</h3>
                </div>
                <div class="education-item">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">

                    <h3>Google for Education</h3>
                </div>
                <div class="education-item">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">

                    <h3>Coursera</h3>
                </div>
            </div>
            <div class="rowBelow">
                <div class="education-item">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">

                    <h3>Udemy</h3>
                </div>
                <div class="education-item">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">

                    <h3>W3Schools</h3>
                </div>
                <div class="education-item">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">

                    <h3>freeCodeCamp</h3>
                </div>
            </div>
        </div>
        <div class="whiteSpace"></div>
    </div>
</div>
