<div class="container">
    <div class="personalBrand">
        <p><a routerLink="/home">Rossmel Abasto</a></p>
    </div>
    <div class="links">
        <p><a routerLink="/aboutme" routerLinkActive="active">About Me</a></p>
        <p><a routerLink="/skills" routerLinkActive="active">Skills</a></p>
        <p><a routerLink="/education" routerLinkActive="active">Education</a></p>
        <p><a routerLink="/proyects" routerLinkActive="active">Proyects</a></p>
        <p><a routerLink="/contact" routerLinkActive="active">Contact</a></p>
    </div>
</div>