<div class="container">
    <div class="copyright">
        <p>Rossmel Abasto &copy; 2022</p>
    </div>
    <div class="socialNetwork">
        <a target="_blank" href="mailto:abastorossmel@gmail.com"> <fa-icon [icon]="faEnvelope" ></fa-icon> </a>
        <a target="_blank" href="https://wa.link/c3oels"> <fa-icon [icon]="faWhatsapp" ></fa-icon> </a>
        <a target="_blank" href="https://www.facebook.com/RossmelMax/"> <fa-icon [icon]="faFacebook" ></fa-icon> </a>
        <a target="_blank" href="https://www.instagram.com/rossmelmax/"> <fa-icon [icon]="faInstagram" ></fa-icon> </a>
        <a target="_blank" href="https://twitter.com/rossmelabasto"> <fa-icon [icon]="faTwitter" ></fa-icon> </a>
        <a target="_blank" href="https://github.com/RossmelMax"> <fa-icon [icon]="faGithub" ></fa-icon> </a>
        <a target="_blank" href="https://gitlab.com/RossmelAbasto"> <fa-icon [icon]="faGitlab" ></fa-icon> </a>
    </div>
</div>