<div class="container">
    <div class="title">
        <p>I've been involved in the creation of the following projects:</p>
    </div>
    <div class="content">
        <div class="proyect">
            <a target="_blank" href="https://rossmel-web-develop-practice.netlify.app/calculator/"><fa-icon class="icon" [icon]="faCalculator"></fa-icon></a>
            <p>Simple Calculator</p>
        </div>
        <div class="proyect">
            <a target="_blank" href="https://rossmel-web-develop-practice.netlify.app/reloj/"><fa-icon class="icon" [icon]="faClock"></fa-icon></a>
            <p>Digital Watch</p>
        </div>
        <div class="proyect">
            <a target="_blank" href="https://rossmel-web-develop-practice.netlify.app/web%204/"><fa-icon class="icon" [icon]="faSiteMap"></fa-icon></a>
            <p>Page Template</p>
        </div>
        <div class="proyect">
            <a target="_blank" href="https://address-meeting.netlify.app/"><fa-icon class="icon" [icon]="faUser"></fa-icon></a>
            <p>Meeting Scheduler</p>
        </div>                
    </div>
    <div class="bottomSpace"></div>
</div>