@import '../../variables.scss';
 
.container
{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .midLine
    {
        height: 80%;
        width: 5px;
        border-radius: 50px;
        background-color: $main-black;
    }

    .left,
    .right
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        width: 40%;
        height: 100%;

        text-align: center;

        p {
            font-family: $font-family-brand;
            font-size: 2.3rem;

            transition: all 0.2s ease-in-out;
            &:hover
            {
                transform: scale(1.05);
            }
        }

        ul
        {
            list-style: outside disc;

            li
            {
                font-size: 2.2rem;
                font-family: $font-family-brand;

                transition: all 0.2s ease-in-out;
                &:hover
                {
                    transform: scale(1.05);
                }
            }
        }
    }
}
