<div class="container">
    <div class="left">
        <p>
            I'm a 20 years old Bolivian based web developer.
        </p>
        <p>
            I'm a person who likes to learn new things and I'm always looking for new challenges.
        </p>
        <p>
            This passion for web development has been growing since I got my first personal computer in 2019.
        </p>
        <p>
            I've been studying computer science and web developmet by myself since then.
        </p>
        <p>
            My goal is to become a fullstack web developer.
        </p>
        <p>
            In order to acomplish that goal, I've developed myself as a self-taught person.
        </p>
    </div>

    <div class="midLine"></div>

    <div class="right">
        <p>
            I'm a introvert person, that's why I may tend to be a bit quiet and reserved, not implicating that I'm not able to talk when needed.
        </p>
        <p>
            Some of my soft skills are:
        </p>
        <ul>
            <li>Punctuality</li>
            <li>Teamwork</li>
            <li>Honesty</li>
            <li>Curiosity</li>
            <li>Commitment</li>
            <li>Organization</li>
        </ul>
        <p>
            All of my interests are related to technology, computers and web development.
        </p>
        <p>
            Right now I'm coursing a Web Application Development course at Solaning in order to get my first job.
        </p>
    </div>
</div>
