<div class="container">
    <div class="row1">
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faHtml5"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">HTML</h3>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faSass"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">SASS</h3>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faJs"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">JS</h3>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faAngular"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">ANGULAR</h3>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
    </div>
    <div class="row2">
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faLinux"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">LINUX</h3>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faWindows"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">WINDOWS</h3>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faFlagUsa"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">BILINGUAL</h3>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faGit"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">GIT</h3>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
    </div>
</div>