<div class="container">
    <div class="row1">
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faHtml5"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">HTML</h3>
            <p class="text">No matter what kind of web page you want to create, you'll need to know HTML.</p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faSass"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">SASS</h3>
            <p class="text">I've learned to use SASS to make my CSS more readable and maintainable.</p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faJs"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">JS</h3>
            <p class="text">The Javascript language is the most used language in the world, and I'm very familiar with it.</p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faAngular"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">ANGULAR</h3>
            <p class="text">The choosen framework for me to work with is Angular, and I'm getting very familiar with it.</p>
        </div>
    </div>
    <div class="row2">
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faGit"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">GIT</h3>
            <p class="text">I'm familiar with the use of Version Control Systems as GIT as well as GitHub or GitLab.</p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faLinux"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">LINUX</h3>
            <p class="text">I use an Arch Linux based distribution as my main operating system, and I'm very familiar with it.</p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faWindows"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">WINDOWS</h3>
            <p class="text">I use Windows 11 as my secondary operating system, and I'm very also familiar with it.</p>
        </div>
        <div class="skills">
            <div class="icon"><fa-icon [icon]="faFlagUsa"></fa-icon></div>
            <div class="lineSkill"></div>
            <h3 class="title">BILINGUAL</h3>
            <p class="text">My native language is Spanish, and I'm also very fluent in the United States English.</p>
        </div>
    </div>
</div>