<div class="container">
    <div class="aboutmeImage">
        <img src="../../assets/images/rossmel.png" alt="Rossmel Abasto">
    </div>
    <div class="aboutmeText">
        <div>
            <p>Hi</p>
            <span class="bold"> (•◡•) /</span>
        </div>
        <div>
            <p>I'm</p>
            <span class="bold">Rossmel Abasto</span>
        </div>
        <div>
            <p>A frontend developer with a passion for creating web sites and web applications</p>
        </div>
        <div><a routerLink="/aboutme">Know more about me</a></div>
    </div>
</div>
